<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery Note</title>
    <link href="../static/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <style>
        @page {
            size: 20cm 28cm;
            margin: 2cm;
        }

        @media print {
            html, body {
                width: 200mm;
                height: 280mm;
                -webkit-print-color-adjust: exact;
                -moz-print-color-adjust: exact;
                -ms-print-color-adjust: exact;
                print-color-adjust: exact;
            }
            #info{
                background: #dddddd;
            }

            /* ... the rest of the rules ... */
        }

    </style>
    <script type="text/javascript">
        window.onload = function () {
            window.print();
        };
    </script>
</head>
<body style="height:297mm;">
<div class="container">
    <div class="row" style="display:inline; height:100px;">
        <div class="col-md-6" style="bottom: 0;">
            <h1 style="font-size:400%;">Delivery Note</h1>
        </div>
        <div class="col-md-4" id="logo" style="float:right; ">
            {% if company_id == '1' %}
            <img src="../static/images/logo/trlogo.png" style="width:280px;height:100px;">
            {% elif company_id == '2' %}
            <img src="../static/images/logo/tplogo.png" style="width:280px;height:100px;">
            {% else %}
            <img src="../static/images/logo/prlogo.png" style="width:280px;height:100px;">
            {% endif %}
        </div>
    </div>
    <hr style="border: 2px solid lightskyblue;">
    <div class="row" style="display: inline; height:40rem;">
        <div class="col-md-6">
            <div>
                {% if company_id == '1' %}
                <h4>Top Rail Services Pty Ltd.</h4>
                <p>Factory 1, 7 Technology Circuit, Hallam, VIC 3803 Australia</p>
                <p>ABN: 90 167 745 575</p>
                <p>Email: ifo@toprailservices.com.au</p>
                <p>Tel: 1300 772 678</p>
                <p>Website: https://toprailservices.com.au</p>
                {% elif company_id == '2' %}
                <h4>T-Power Pty Ltd.</h4>
                <p>Factory 1, 7 Technology Circuit, Hallam, VIC 3803 Australia</p>
                <p>ABN: 65 651 645 948</p>
                <p>Email: ifo@t-power.com.au</p>
                <p>Tel: 1300 772 678</p>
                <p>Website: https://www.t-power.com.au</p>
                {% endif %}
            </div>
            <div style="margin-top: 10px;">
                <h3>To:</h3>
                {% for ci in customer_info %}
                <h4>{{ ci.customer_name }}</h4>
                <p>Address: {{ ci.customer_address }}</p>
                <p>Phone: {{ ci.customer_phone }} </p>
                <p>Email: {{ ci.customer_email}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div id="info" class="container-fluid"
                 style="-webkit-print-color-adjust: exact; mso-print-color: yes; background: #dddddd; text-align: left;padding: 5px 5px 5px 5px;">
                <p>Invoice No.: {{ Invoice_no }}</p>
                <p>Invoice Date: {{ Invoice_date }}</p>
                <p>Delivery Note No.: {{ Delivery_No }}</p>
                <p>Delivery Date: {{ Delivery_date }}</p>
                <p>Delivery Term: {{ Delivery_Term }}</p>
            </div>
        </div>

    </div>
    <div class="row" style="display: inline;">
        <h3>Additional Information</h3>
        <p>{{ Note }}</p>
    </div>
    <hr style="border: 2px solid lightskyblue;">
    <div class="row" style="display: inline; margin-top: 3rem;">
        <table class="table table-striped">
            <tr>
                <th>Fixed Product Code</th>
                <th>Fixed Product Description</th>
                <th>Fixed Detail</th>
                <th>Unit</th>
                <th>Quantity</th>
            </tr>
            {% load index %}
            {% if company_id == "1" %}
            {% for p in product_list %}
            <tr>
                <td>{{ p.tr_product_id }}</td>
                <td>{{ p.tr_product_description}}</td>
                <td>{{ p.fixed_detail}}</td>
                <td></td>
                <td>1</td>
            </tr>
            {% endfor %}
            <tr style="border-top: 1px solid #7b7c88;">
                <td><h4>Summary</h4></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h4>{{ product_list|length }}</h4></td>
            </tr>
            {% elif company_id == "2" %}
            {% for p in product_list %}
            <tr>
                <td>{{ p.tp_product_id }}</td>
                <td>{{ p.tp_product_description }}</td>
                <td>{{ p.fixed_detail }}</td>
                <td></td>
                <td>1</td>
            </tr>
            {% endfor %}
            <tr style="border-top: 1px solid #7b7c88;">
                <td><h4>Summary</h4></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h4>{{ product_list|length }}</h4></td>
            </tr>
            {% endif %}

        </table>
    </div>
</div>
<footer style="bottom: 0; margin-top: 20rem;">
    <div class="container" style="float:bottom;">
        <h3>Good received by:</h3>
        <div class="row" style="display:inline;">
            <div class="col-md-6">
                <p>Signature:</p>
            </div>
            <div class="col-md-6">
                <p>Date:</p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>