{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <div id="product_info">
        <h1>hello,{{ request.session.user_name }}！Welcome to ERP system！</h1>
        <h1 align="center">LOGO</h1>
        <br />
        <br />
    <table border="1",style ='margin:auto'>
        <thead>
        <tr>
            <th>&nbsp;&nbsp;tr product id&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;tr product name&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;tr product quantity&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;tr product total &nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;create time &nbsp;&nbsp;</th>
            <th><a href="/add_product/{{ i.id }}">add product</a></th>
        </tr>
        </thead>
        {% for i in data %}
        <tr>
            <td>&nbsp;&nbsp;{{ i.tr_product_id }}</td>
            <td>&nbsp;&nbsp;{{ i.tr_product_name }}</td>
            <td>&nbsp;&nbsp;{{ i.tr_product_num }}</td>
            <td>&nbsp;&nbsp;{{ i.tr_product_price }}</td>
            <td>&nbsp;&nbsp;{{ i.tr_product_time|date:"d-m-Y" }}</td>
            <td><button class='btn btn-default modify_button' type="button" value='{{version.id }}'>modify</button></td>
            <td><a href="/del_product/{{ i.id }}">delete</a></td>
        </tr>
        {% endfor %}
        </thead>

<!--        <thead>-->
<!--        <tr>-->
<!--            <th>&nbsp;&nbsp;tp product id&nbsp;&nbsp;</th>-->
<!--            <th>&nbsp;&nbsp;tp product name&nbsp;&nbsp;</th>-->
<!--            <th>&nbsp;&nbsp;tp product state&nbsp;&nbsp;</th>-->
<!--            <th>&nbsp;&nbsp;tp product description&nbsp;&nbsp;</th>-->
<!--            <th><button type="button">add</button></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        {% for i in data1 %}-->
<!--        <tr>-->
<!--            <td>{{ i.tp_product_id }}</td>-->
<!--            <td>{{ i.tp_product_name }}</td>-->
<!--            <td>{{ i.tp_product }}</td>-->
<!--            <td>{{ i.tp_product_description }}</td>-->
<!--            <td><button type="button">modify</button></td>-->
<!--            <td><button type="button">delete</button></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--        </thead>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>&nbsp;&nbsp;pr product id&nbsp;&nbsp;</th>-->
<!--            <th>&nbsp;&nbsp;pr product name&nbsp;&nbsp;</th>-->
<!--            <th>&nbsp;&nbsp;pr product state&nbsp;&nbsp;</th>-->
<!--            <th>&nbsp;&nbsp;pr product description&nbsp;&nbsp;</th>-->
<!--            <th><button type="button">add</button></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        {% for i in data2 %}-->
<!--        <tr>-->
<!--            <td>{{ i.pr_product }}</td>-->
<!--            <td>{{ i.pr_product_state }}</td>-->
<!--            <td>{{ i.pr_product_name }}</td>-->
<!--            <td>{{ i.pr_product_description }}</td>-->
<!--            <td><button type="button">modify</button></td>-->
<!--            <td><button type="button">delete</button></td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--        </thead>-->
    </table>
    </div>
    {% else %}
    <h1>Please login！</h1>
    {% endif %}
    <script>

    </script>
    <style>
    #product_info{margin:0 auto; width:900px}

    </style>

{% endblock %}